/* https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Browser specific overrides */
input[type=search] {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

/* VARIABLES */
/* breakpoints */
/* spacing values */
/* other styling vars */
/* color vars */
/* #######
Font vars
####### */
:root {
  /* --- media queries --- */
  /*  can't have CSS vars in meida queries --medium-breakpoint: 800px; */
}

@font-face {
  font-family: "Source_Sans_Pro";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.woff2") format("woff2"), url("../fonts/Source_Sans_Pro/SourceSansPro-Black-Black.woff") format("woff");
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* font: 1rem Arial, sans-serif; */
}

/* reusable CSS grid values */
/* ####################### */
/* sets width of elements on the right side above medium breakpoint */
/* Currently used to keep header consietent height across breakpoints */
/* Look to refactor later, perhaps with minmax */
body {
  display: grid;
  grid-template-areas: "hd hd hd hd hd" "content content content content content" "panel panel panel panel panel";
  grid-template-rows: 90px auto 80px;
}
@media (min-width: 768px) {
  body {
    grid-template-areas: "hd hd hd hd hd" "content content content content panel";
    grid-template-columns: repeat(4, 1fr) 280px;
    grid-template-rows: 90px auto;
  }
}

/* --- media queries --- */
/* ### CSS vars ### */
:root {
  --border-radius-default: 0.25rem;
  --border-width-default: 1px;
  --font-size-h1: 4rem;
  --line-height: 1.5;
  /* --line-height-h1:  */
  --line-height-less: 1.2;
  --padding-default: 1rem;
  --text-shadow-one: 0.05rem 0.05rem var(--text-shadow-color);
  --touch-min: 48px;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  color: #0a0a0a;
  background-color: #49c5b6;
  margin: 0;
}

a:focus {
  box-shadow: var(--outline-replace);
  outline: none;
}

button {
  border: var(--border-width-default) solid var(--color-theme-one);
  border-radius: var(--border-radius-default);
  min-height: var(--touch-min);
  padding-left: 1rem;
  padding-right: 1rem;
  right: 0;
}

button:focus {
  box-shadow: inset 0 0 0 2px #25ff42;
  outline: none;
}

.wip {
  width: var(--touch-min);
  height: var(--touch-min);
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

h1 {
  text-shadow: var(--text-shadow-one);
}

.header__inner {
  /* grid-column: 2; */
}

header p {
  margin-top: 0;
}

main {
  /* grid-column: 2; */
  /* Take this out if "body > *" grid styling is reinstated */
  padding-left: var(--padding-default);
  padding-right: var(--padding-default);
}

footer {
  /* grid-column: 2; */
  /* Take this out if "body > *" grid styling is reinstated */
  padding-bottom: var(--padding-default);
  padding-left: var(--padding-default);
  padding-right: var(--padding-default);
  padding-top: var(--padding-default);
}

a {
  color: var(--link-color);
}

select {
  height: 24px;
  margin-bottom: 1.5rem;
}

section {
  /*display: grid;*/
  /*grid-template: auto / 80% 20%;*/
}

@media only screen and (min-width: 768px) {
  section {
    display: grid;
    grid-template: auto/80% 20%;
    background-color: #add8e64a;
    border: 5px solid red;
  }
}
.controls {
  display: grid;
  align-content: start;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

input {
  display: block;
  margin: 1rem 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
header {
  align-items: center;
  background-color: #df6c4f;
  grid-area: hd;
}
@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-areas: "header header header header search";
    grid-template-columns: repeat(4, 1fr) 280px;
  }
}

.header__h1 {
  font-size: 1.75rem;
  padding-left: 0.5rem;
}
@media (min-width: 768px) {
  .header__h1 {
    padding-left: 1rem;
  }
}

.search {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 768px) {
  .search {
    grid-area: search;
    margin-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
  }
}

.search__input {
  border: none;
  border-radius: 0;
  flex: 1;
  padding: 0.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .search__input {
    max-width: 224px;
  }
}
.search__input:focus {
  box-shadow: inset 0 0 0 2px #25ff42;
  outline: none;
}

.search__button {
  background-color: #0a0a0a;
  border: none;
  border-radius: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  min-height: auto;
}
.search__button:focus {
  box-shadow: inset 0 0 0 2px #25ff42;
  outline: none;
}

.content {
  grid-area: content;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .content {
    padding: 1rem;
  }
}

.panel {
  align-items: center;
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  grid-area: panel;
  justify-content: space-between;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .panel {
    display: block;
    padding: 1rem;
  }
}

nav {
  align-items: flex-start;
  background-color: tomato;
  border: 3px solid gold;
  display: flex;
  height: 100vh;
  padding-left: 2rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  right: 100%;
  transition: right 1s ease-in-out;
}

.nav__button {
  margin-left: auto;
}

.nav--open {
  right: 0%;
}
.nav--open .nav__button {
  right: 0%;
  position: static;
}

nav ul {
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
