/* ### CSS vars ### */
:root {
  --color-primary: #16498a;
  --color-primary--rgb: hexToRGB(#16498a);
  --color-background-one: rgba(38, 70, 83, 1);
  --color-theme-one: #e9c46a;
  --link-color: var(--color-theme-one);
  --text-shadow-color: #e76f51;
  --touch-min: 48px;
}

/* #######
Font vars
####### */
:root {
  /* --- media queries --- */
  /*  can't have CSS vars in meida queries --medium-breakpoint: 800px; */
}

@font-face {
  font-family: "Allan-bold";
  src: url("../fonts/Allan/Allan-Bold.woff2") format("woff2"), url("../fonts/Allan/Allan-Bold.woff") format("woff");
}
@font-face {
  font-family: "Cardo";
  src: url("../fonts/Cardo/Cardo-Regular.woff2") format("woff2"), url("../fonts/Cardo/Cardo-Regular.woff") format("woff");
}
body {
  /* font: 1rem Arial, sans-serif; */
  font: 1.38rem Cardo, Arial, sans-serif;
}

h1 {
  font-family: Allan-bold, Arial, sans-serif;
}

header p {
  line-height: var(--line-height-less);
}

/* --- media queries --- */
/* ### CSS vars ### */
:root {
  --border-radius-default: 0.25rem;
  --border-width-default: 1px;
  --font-size-h1: 4rem;
  --line-height: 1.5;
  /* --line-height-h1:  */
  --line-height-less: 1.2;
  --outline-replace: 0 0 3px 2px var(--color-theme-one);
  --padding-default: 1rem;
  --text-shadow-one: 0.05rem 0.05rem var(--text-shadow-color);
  --touch-min: 48px;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: var(--color-theme-one);
  font: 1em Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: var(--line-height);
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  color: var(---color-theme-one);
  background-color: var(--color-background-one);
  height: 100%;
  line-height: var(--line-height);
  margin: 0;
}

a:focus {
  box-shadow: var(--outline-replace);
  outline: none;
}

.button {
  background-color: transparent;
  border: var(--border-width-default) solid var(--color-theme-one);
  border-radius: var(--border-radius-default);
  color: var(--color-theme-one);
  margin: 1rem;
  min-height: var(--touch-min);
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  right: 0;
}

.button:focus {
  box-shadow: var(--outline-replace);
  outline: none;
}

header {
  /* grid-column: 1/4; */
  padding-left: var(--padding-default);
  padding-right: var(--padding-default);
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: var(--text-shadow-one);
}

.header__inner {
  /* grid-column: 2; */
}

header p {
  margin-top: 0;
}

main {
  /* grid-column: 2; */
  /* Take this out if "body > *" grid styling is reinstated */
  padding-left: var(--padding-default);
  padding-right: var(--padding-default);
}

footer {
  /* grid-column: 2; */
  /* Take this out if "body > *" grid styling is reinstated */
  padding-bottom: var(--padding-default);
  padding-left: var(--padding-default);
  padding-right: var(--padding-default);
  padding-top: var(--padding-default);
}

a {
  color: var(--link-color);
}

select {
  height: 24px;
  margin-bottom: 1.5rem;
}

section {
  /*display: grid;*/
  /*grid-template: auto / 80% 20%;*/
}

@media only screen and (min-width: 768px) {
  section {
    display: grid;
    grid-template: auto/80% 20%;
    background-color: #add8e64a;
    border: 5px solid red;
  }
}
.controls {
  display: grid;
  align-content: start;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

input {
  display: block;
  margin: 1rem 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* https://joshwcomeau.com/css/full-bleed/ */
body {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  /* adding stuff in, playing around */
  /* How do I specify row heights in CSS Grid layout? */
  /* https://stackoverflow.com/questions/41916722/how-do-i-specify-row-heights-in-css-grid-layout */
  /* grid-template-rows */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows */
}

/* This centers screen elements unless otherwise placed */
body > * {
  grid-column: 2;
}

/* .wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
} */
.full-bleed {
  background-color: var(--color-theme-one);
  background: linear-gradient(355deg, #f4a261 0%, #e9c46a 43%);
  grid-column: 1/4;
  width: 100%;
  /* This is the styling that I added on to get the effect that I want */
  max-height: 40vh;
  object-fit: cover;
  object-position: center 40%;
}

/* adding this stlyes myself, full height VP stuff */
.wrapper {
  height: 100vh;
}

nav {
  background-color: tomato;
  border: 3px solid gold;
  height: 100vh;
  padding-left: 2rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  right: 100%;
  transition: right 1s ease-in-out;
}

.nav--open {
  right: 0%;
}

.nav__button {
  position: fixed;
  right: 0;
}

nav ul {
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
