/* #######
Font vars
####### */
:root {
  /* --- media queries --- */
  /*  can't have CSS vars in meida queries --medium-breakpoint: 800px; */
}

// @font-face {
//   font-family: 'Allan-bold';
//   src: url('../fonts/Allan/Allan-Bold.woff2') format('woff2'),
//     url('../fonts/Allan/Allan-Bold.woff') format('woff');
// }

// @font-face {
//   font-family: 'Cardo';
//   src: url('../fonts/Cardo/Cardo-Regular.woff2') format('woff2'),
//     url('../fonts/Cardo/Cardo-Regular.woff') format('woff');
// }

// @font-face {
//   font-family: 'Allura';
//   src: url('../fonts/Allura/Allura-Regular.woff2') format('woff2'),
//     url('../fonts/Allura/Allura-Regular.woff') format('woff');
// }

// @font-face {
//   font-family: 'Anton';
//   src: url('../fonts/Anton/Anton-Regular.woff2') format('woff2'),
//     url('../fonts/Anton/Anton-Regular.woff') format('woff');
// }

@font-face {
  font-family: 'Source_Sans_Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Black.woff2') format('woff2'),
    url('../fonts/Source_Sans_Pro/SourceSansPro-Black-Black.woff')
      format('woff');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font: 1rem Arial, sans-serif; */
  // font: 1.38rem Source_Sans_Pro, Arial, sans-serif;
  // font: 1.38rem Arial, sans-serif;
  // font: 1.38rem Cardo, Arial, sans-serif;
}

// h1 {
//   font-family: Allan-bold, Arial, sans-serif;
// }

header p {
  // font-family: Allura, Arial, sans-serif;
  // font-size: 1.38rem;
  // line-height: var(--line-height-less);
}
