/* ### Animation vars ### */

// Timing vars
$animation-timing-default: 1s;
$animation-timing-long: 2s;

// Transition vars
$transition-timing-default: 0.5s;
$transition-timing-long: 1s;
$transition-timing-very-long: 2s;

// Scale values
$animation-scale-default: 1.1;

// Reusable animation mixins
@mixin animate-fade-in($duration) {
  animation: animate-fade-in $animation-timing-long linear forwards;
  transition: all $duration 1s;

  @keyframes animate-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin animate-from-top($duration) {
  animation: animate-from-top $animation-timing-default linear;
  transition: all $duration;

  @keyframes animate-from-top {
    0% {
      transform: translateY(-100px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

@mixin animate-from-left($duration) {
  animation: animate-from-left $duration ease-out;

  @keyframes animate-from-left {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@mixin animate-from-right($duration) {
  animation: animate-from-right $duration ease-out forwards;

  @keyframes animate-from-right {
    0% {
      transform: translateX(200px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}

// Reusable animation mixins
@mixin animate-height($duration) {
  animation: animate-height $animation-timing-long linear forwards;
  transition: all $duration 1s;
  transform-origin: left top;

  // @keyframes animate-height {
  //   0% {
  //     height: 0;
  //   }

  //   100% {
  //     height: fit-content;
  //   }
  // }

  @keyframes animate-height {
    from {
      height: 0px;
      transform: scaleY(0);
      opacity: 0;
    }
    to {
      height: var(--h); /*This will change for each element */
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

@mixin slide-down {
  $slide-content-height: 88px;

  animation: slide-down $animation-timing-long linear forwards;
  transition: all $transition-timing-default 1s;
  @keyframes slide-down {
    0% {
      visibility: hidden;
      height: 0;
    }

    95% {
      visibility: visible;
      height: $slide-content-height;
    }

    /* Set height to 'auto' after animation for spacing showing form-invalid feedback message */
    100% {
      visibility: visible;
      height: auto;
    }
  }
}

[data-target='slide-content'] {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
