/* color vars */
$color-primary: #df6c4f;
$color-secondary: #49c5b6;
$color-tertiary: #0a0a0a;
$color-white: #fff;

$color-font-default: $color-tertiary;

// Color theme one
$color-background-one: $color-secondary;
$color-theme-one: rgba(77, 200, 186, 1);