.content {
  grid-area: content;
  padding: $spacing-default;
  transition: opacity 10s linear;

  @media (min-width: $bp-md) {
    padding: $spacing-large;
  }
}

.content__ul {
  @include animate-fade-in($animation-timing-long);
}