.panel {
  align-items: center;
  background-color: $color-tertiary;
  color: $color-white;
  display: flex;
  grid-area: panel;
  justify-content: space-between;
  padding: $spacing-default;

  @media (min-width: $bp-md) {
    display: block;
    padding: $spacing-large;
  }
}

.panel__heading {
  @media (min-width: $bp-md) {
    margin-bottom: $spacing-default;
  }  
}

.panel__button {
  @media (min-width: $bp-md) {
    margin-bottom: $spacing-default;
  }  
}

.panel__nav {
  display: none;

  @media (min-width: $bp-md) {
    display: block;
  }
}
